.container {
  display: block;
  width: 100%;
  margin: auto;
}
.navbar {
  padding-bottom: 100px;
}
li {
  display: inline;
  float: left;
}

.waffle {
  width: 32px;
  height: 32px;
}

.leftNav {
  justify-content: flex-start;
}

.rightNav {
  display: flex;
  justify-content: flex-end;
}

.navContents {
  margin: 5px;
}
.dev {
  border-radius: 50px;
  width: 32px;
  height: 32px;
}
.logo {
  margin-top: 250px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logoImg {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: 300px;
}

.inputBar {
  width: 800px;
  max-width: 800px;
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 25px auto;
}

.inputBar:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}
